<div class="col-md-12 px-2 h-100">
            <div class="mt-1">
                <h1>{titulo_pagina}</h1>
            </div>
            <div class="w-25 mt-2 mb-2">
                <label for="pesquisa">PESQUISA:</label>
                <input class="form-control" type="text" name="pesquisa" id="pesquisa" />
            </div>
            <div class="mt-2 mb-2">
                <button class="btn btn-dark" onclick="location.href='{pagina_manutencao}'" type="button">Adicionar</button>
                <!-- BEGIN BLOCK_BUTTONS -->
                <button class="btn btn-dark" onclick="location.href='{button_caminho}'" type="button">{button_nome}</button>
                <!-- END BLOCK_BUTTONS -->
            </div>
            <table id="ctabela" width="100%" class="sortable table table-hover table-bordered table-sm caption-top">
                <thead>
                    <tr>
                        <!-- BEGIN BLOCK_COLUMNS -->
                            <th width="{columns_width}">{columns_name}</th>
                        <!-- END BLOCK_COLUMNS -->
                    </tr>
                </thead>
                <tbody id="tableBody">
                    <!-- BEGIN BLOCK_TABELA -->
                        <tr> 
                            <!-- BEGIN BLOCK_DADOS -->
                            <td>{data}</td>
                            <!-- END BLOCK_DADOS -->
                            <!-- BEGIN BLOCK_BUTTONS_TB -->
                            <td>
                                <button type="button" class="btn btn btn-dark">
                                    <a href='{pagina_manutencao}/{cd_editar}'>Editar</a>
                                </button>
                                <button class="btn btn btn-dark" onclick="return confirm('Deseja Excluir? (Irá excluir todas as conexões e usuarios desse cliente)')" type="button">
                                    <a href='{pagina_action}/{cd_excluir}'>Excluir</a>
                                </button>
                            </td>
                            <!-- END BLOCK_BUTTONS_TB -->
                        <tr>
                     <!-- END BLOCK_TABELA -->
                </tbody>
            </table>
            <div class="fixed-bottom mt-0">
                {mensagem}
            </div>
        </div>
    