<!DOCTYPE html>
<html lang="pt-br" height="100%">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Diogo Graciano Comin"> 
    <meta name="description" content="Programa com Templates"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{caminho}assets/css/bootstrap.css" rel="stylesheet">
    <!-- BEGIN BLOCK_CONSULTA -->
    <script type="text/javascript" src="{caminho}assets/js/sorttable.js"></script>
    <!-- END BLOCK_CONSULTA -->
    <script src="{caminho}assets/js/bootstrap.bundle.js"></script>
    <script src="{caminho}assets/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{caminho}assets/css/main.css">
    <script src="{caminho}assets/js/functions.js"></script>
    <!-- BEGIN BLOCK_GRAFICO -->
    <script src="{caminho}assets/js/chart.js"></script>
    <!-- END BLOCK_GRAFICO -->
    <title>{title}</title>
</head>
<body class="h-100">
