<!DOCTYPE html>
<html lang="pt-br" height="100%">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Diogo Graciano Comin"> 
    <meta name="description" content="Programa com Templates"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{caminho}assets/css/bootstrap.css" rel="stylesheet">
    <link href="{caminho}assets/css/bootstrap-icons.css" rel="stylesheet">
    <!-- BEGIN BLOCK_CONSULTA -->
    <!-- END BLOCK_CONSULTA -->
    <script src="{caminho}assets/js/bootstrap.bundle.js"></script>
    <script src="{caminho}assets/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{caminho}assets/css/main.css">
    <script src="{caminho}assets/js/functions.js"></script>
    <script type="text/javascript" src="{caminho}assets/js/jquery-3.7.1.js"></script>
    <!-- BEGIN BLOCK_GRAFICO -->
    <script src="{caminho}assets/js/chart.js"></script>
    <!-- END BLOCK_GRAFICO -->
    <!-- BEGIN BLOCK_AGENDA -->
    <script src='{caminho}assets/js/index.global.min.js'></script>
    <script src="{caminho}assets/js/bootstrap5/index.global.min.js"></script>
    <script src='{caminho}assets/js/core/locales-all.global.min.js'></script>
    <!-- END BLOCK_AGENDA -->
    <title>{title}</title>
</head>
<body class="h-100">
<!-- BEGIN BLOCK_TITULO -->
<div class="col-md-12 mb-5 mt-5 text-center">
    <H1>{titulo}</H1>
</div>
<!-- END BLOCK_TITULO -->
