<body>
    <main class="main_content container">       
        <section class="container">       
            <div class="content">      
                <h1 class="section_title">{titulo}</h1> 
                <div class="box-artigo">  
                    <ul class="grade d-flex justify-content-center flex-wrap align-items-start">   
                        <!-- BEGIN BLOCK_MENU -->       
                        <li><a href="{url_menu}" title="{titulo_menu}">{titulo_menu}</a></li> 
                        <!-- END BLOCK_MENU -->        
                    </ul>
                </div>
            </div>
        </section>
    </main>
</body>
